{% extends "base.html" %}
{% block content %}
<h2>RedWork</h2><br>
<h4>Это итоговый веб-проект для Яндекс.Лицея на Python/Flask</h4>
    <br>
<h4>RedWork - это так называемый "bux-site", то есть сайт, который может предоставить людям без постоянного места работы,
фреилансерам и студентам заработать немнго денег.</h4>
<br>
<h4>Вы можете опубликовать простое задание (поставить оценку на сайт, купить хлеба, выгулять собаку) с небольшой оплатой,
или выполнить уже существующую работу!</h4>
{% endblock %}