<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RedWork - сервис по поиску и предоставлению работы</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    <link rel="shortcut icon" href='https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Red_trademark.svg/1200px-Red_trademark.svg.png'>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a href="/"><b><font size="6" color="cc0605">Red</font><font color="000000" size="6">Work</font></b></a>

                <a style="border: 2px double lightgray" class='btn btn-default' href="/about"><font size="4">О нас</font></a>
                <a style="border: 2px double lightgray" class='btn btn-default' href="/forum"><font size="4">Форум</font></a>
                <a style="border: 2px double lightgray" class='btn btn-default' href="/help"><font size="4">Помощь</font></a>

    </nav>
    <hr>
    <nav class="navbar">
        {% if current_user.is_authenticated and request.path != "/forum" and request.path != "/help"  %}
            <a style="background: #76ca7d" class='btn' href="/jobs">Добавить работу</a>
            <a style="background: #a4d433" class='btn btn-default' href="/complete">Выполненные</a>
            <a style="background: #c4ca76" class='btn btn-default' href="/my_jobs">Мои работы</a>
            <a style="background: #c4ca76" class='btn btn-default' href="/defers">Отложенные</a>
            <a style="background: #aca16f" class='btn btn-default' href="/my_requests">Заявки</a>
            <a style="background: #aaaaaa" class='btn btn-default' href='/user/{{ current_user.id }}'>Профиль</a>
            <a style="background: #ca7676" class='btn btn-default' href="/logout">Выйти</a>
        {% elif current_user.is_authenticated and request.path == "/forum" %}
            <a style="background: #76ca7d" class='btn' href="/theme_add">Добавить тему</a>
            <a style="background: #aaaaaa" class='btn btn-default' href='/user/{{ current_user.id }}'>Профиль</a>
            <a style="background: #ca7676" class='btn btn-default' href="/logout">Выйти</a>
        {% elif request.path == "/help" %}
            <a style="background: #adff2f" class='btn' href="/question">Задать вопрос</a>
            <a style="background: #aaaaaa" class='btn btn-default' href='/user/{{ current_user.id }}'>Профиль</a>
            <a style="background: #ca7676" class='btn btn-default' href="/logout">Выйти</a>
        {% else %}
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        {% endif %}
    </nav>
    <hr>

</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<br><br>
    <nav class="navbar navbar-light bg-light">
        <p>ВСЕ ПРАВА ЗАЩИЩЕНЫ<br>© 1920 – 2020 «RedWork»</p>
        <p align="right">Исключительное право на программный код «RedWork», принадлежат АНО ДПО «RedWork».
            <br>
            Воспроизведение, копирование, распространение и иное использование программы и материалов недопустимо.<br> =)
        </p>
    </nav>
</body>
</html>