{% extends "base.html" %}
{% block content %}

<h2>{{title}}</h2>
<ol>
    <li><a href="/">Условия лицензионного соглашения</a><br></li>
    <li><a href="/">Основные вопросы</a><br></li>
    <ul type="disc">
    <li><a href="/">Зачем нужен этот сайт?</a><br></li>
    <li><a href="/">Кто создал этот сайт?</a><br></li>
    <li><a href="/">.................</a><br></li>
    <li><a href="/">Вопрос</a><br></li>
    </ul>
    <li><a href="/">Правила пользования сайтом</a><br></li>
    <li><a href="/">Дополнительная инфоромация</a><br></li>
</ol>
{% endblock %}