{% for item in jobs%}
<br>
<div class="col-md6 border rounded" style="padding: 1px 5px 5px 5px">
    {% if item.is_complete == 0%}
    <h3>🔴 {{item.title}}</h3>
    {% else %}
    <h3>🟢 {{item.title}}</h3>
    {% endif %}
    <h5>
        {{item.content}}
    </h5>
    <div>
        <a>Автор: </a><a href="/user/{{ item.user.id }}">{{ item.user.name }}</a><br>
        Дата написания: {{item.created_date}}<br>
        Оплата: {{item.payment}} ₽
    </div>
    <br>
    {% if current_user == item.user %}
    <div>
        <a href="/jobs/{{ item.id }}" class="btn btn-warning">Изменить</a>
        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
    </div>
    {% elif title == 'Отложенные' %}
    <div>
        <a href="/requests/{{ item.id }}" class="btn btn-success">Выполняю!</a>
        <a href="/defers_delete/{{ item.id }}" class="btn btn-war">Не хочу выполнять</a>
    </div>
    {% elif current_user.is_authenticated and item.is_complete == 0%}
    <div>
        <a href="/requests/{{ item.id }}" class="btn btn-success">Выполняю!</a>
        <a href="/defers_add/{{ item.id }}" class="btn btn-default">Хочу выполнить</a>
    </div>
    {% endif %}
    </div>
{% endfor %}