{% extends "base.html" %}

{% block content %}
<br>
<hr>
<table>
    <tr valign="top">
        {% if user.is_ava == 1 %}
        <td><img src="../static/img/{{ user.name }}.png"></td>
        {% else %}
        <td><img src="{{ user.avatar(128)}}"></td>
        {% endif %}
        <td>
            <h2>{{ user.name }}</h2>
            <p>{{ user.about }}</p>
            <p>Дата регистрации: {{ user.created_date }}</p>
            {% if current_user.id == user.id %}
                <b>Баланс: {{ user.balance}} ₽</b>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
<nav class="navbar">
    <a style="background: #808080" class='btn' href="/user/{{ current_user.id }}/complete">Выполненные</a>
    <a style="background: #808080" class='btn' href="/user/{{ current_user.id }}/jobs">Добавленные</a>
    <a style="background: #808080" class='btn' href="/user/{{ current_user.id }}/reviews">Отзывы</a>
</nav>
<br>
{% if title == 'complete'%}
<h4>Выполненные работы:</h4>
<br>
{% elif title == 'jobs'%}
<h4>Добавленные работы:</h4>
{% endif %}
<br>
{% if jobs %}
    {% include "jobs_list.html" %}
{% else %}
    <h5>Пользователь ещё не разместил свои работы</h5>
{% endif %}
{% endblock %}