{% extends "base.html" %}
{% block content %}
<h2>{{title}}:</h2>
{% if jobs %}
{% for item in jobs%}
<br>
<div class="col-md6 border rounded" style="padding: 1px 5px 5px 5px">
    <h3>{{item.title}}</h3>
    <h5>
        {{item.content}}
    </h5>
    <div>
        <a>Пользователь </a><a href="/user/{{ item.request }}">{{ item.request_name }}</a><a> хочет выполнить эту работу</a><br>
        Дата написания: {{item.created_date}}<br>
        Оплата: {{item.payment}} ₽
    </div>
    <br>
    <div>
        <a href="/requests_endorse/{{ item.id }}{{ item.request }}" class="btn btn-success">Одобрить</a>
        <a href="/requests_cancel/{{ item.id }}" class="btn btn-danger">Отклонить</a>
    </div>

{% endfor %}
{% else %}
    <br>
    <h5>Похожe, что вам еще не поступали запросы</h5>
{% endif %}
{% endblock %}